/*TABLET*/

@media screen and (max-width: 615px){
    h2{
    width: 500px;
    display: list-item;
    font-size: 50%;
    }
.imagensuperior{
    width: 100px;
}
.mockups{
    width: 65px;
}
article{
    size: 50%;
}
textarea{
    width: 30px;

}
section{
    width:250px;
}
.nav-2{
width: 200px; 
}
.img-footer{
    width: 30px;
}
h2{
    width:50px;
    justify-content:center;
}
}

/*GALAXY FOLD*/
@media screen and (max-width:280px){
    h2{
    display: list-item;
    font-size: 30%;
    }
.imagensuperior{
    width: 100px;
}
.mockups{
    width: 30px;
}
article{
    size: 50%;
}
textarea{
width:75px;
}
}
