/*TABLET*/

@media screen and (max-width: 768px){
    
form{
    width: 350px;
}
textarea{
    width: 350px;
}

}

@media screen and (max-width: 500px){
    
    form{
        width: 300px;
        
    }
    textarea{
        width: 300px;
    }
    
    
    }
    
    @media screen and (max-width: 445px){
    
        form{
            width: 200px;
        }
        textarea{
            width: 200px;
        }
        
        }
        
        
        @media screen and (max-width: 350px){
    
            form{
                width: 150px;
            }
            textarea{
                width: 150px;
            }
            
            }
            

            @media screen and (max-width: 280px){
    
                form{
                    width: 100px;
                }
                textarea{
                    width: 100px;
                }
                
                
                }
                

