html{
    background-color: white
  ;
  color: black;
  font-size: large;
  }
  @mixin font{
    font-size: medium;
    font-size: 20px;
    padding: 30px;
    color: white;
  }
 .flex{
  display:flex;
  justify-content: center;
  align-items: center;
 }
    
  h1{
    background-color: white;
    @extend .flex;
  }
  section{
    background-color: black;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  
  h2{
    background-color: black;
    font-style: italic;
     font-size:medium ;
     list-style-type:none;
    @extend .flex;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
  
  
  }
 .nav-2{ font-family: "fuente-nav";
  color: white;
font-size: xx-large; 
 }
  .imagensuperior{
    width: 180px;
  }
  .mockups{
    width: 250px;
    border-radius: 30px;
    margin-right: 30px;
    box-shadow: 0px 15px 25px black;
    cursor:pointer
  
  }
  
  img:hover{
    transform:scale(1.15)
  }
  img{
    transition:all 500ms;
    position:relative
  }
  
  
  .parrafonosotros{
    @include font;
  }
  
  .centrado{
    display:flex;
  align-items:center;
  justify-content: center;
  }
  
  p{
    @include font;
  }
  
  .email{
    width: 100%;
    background-color: rgb(33, 33, 33);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    color:white
  }
  
  textarea{
    width: 500px;
    background-color: rgb(33, 33, 33);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    color: white;
  }
  
  h4{
  
    color: white;
    margin-bottom: 10px;
    padding: 10px;
  }

  .carrito{
    width: 50px;
  }
  .img-footer{
    width: 50px;
  }

  @font-face {
    font-family: fuente-nav;
    src: url("Freight Train Gangsta.ttf");
  }